@* <div class="top-row pl-4 navbar navbar-dark"> *@
@*     <a class="navbar-brand" href="">Dashboard</a> *@
@*     <button class="navbar-toggler" @onclick="ToggleNavMenu"> *@
@*         <span class="navbar-toggler-icon"></span> *@
@*     </button> *@
@* </div> *@
@* *@
@* <div class="@NavMenuCssClass" @onclick="ToggleNavMenu"> *@
@*     <ul class="nav flex-column"> *@
@*         <li class="nav-item px-3"> *@
@*             <NavLink class="nav-link" href="" Match="NavLinkMatch.All"> *@
@*                 <span class="oi oi-home" aria-hidden="true"></span> Home *@
@*             </NavLink> *@
@*         </li> *@
@*         @foreach (string item in items) *@
@*         { *@
@*             <li class="nav-item px-3"> *@
@*                 <NavLink class="nav-link" href="@item.ToLower()"> *@
@*                     <span class="oi oi-plus" aria-hidden="true"></span> @item *@
@*                 </NavLink> *@
@*             </li>    *@
@*         } *@
@*     </ul> *@
@* </div> *@

@code {
    #region Private Members
    private bool collapseNavMenu = true;
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private List<string> items = new List<string>();
    #endregion

    #region Events
    protected override void OnInitialized()
    {
        
    }
    #endregion

    #region Interface
    public void AddNavItem(string name)
    {
        items.Add(name);
    }
    #endregion

    #region Routine
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    #endregion
}